<mat-sidenav-container class="tw-h-full">
    <mat-sidenav #drawer class="tw-w-[25ch]" fixedInViewport
                 [attr.role]="isNarrowViewport() ? 'dialog' : 'navigation'"
                 [mode]="isNarrowViewport() ? 'over' : 'side'"
                 [opened]="!isNarrowViewport()">
        <mat-toolbar class="!tw-bg-inherit">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon matListItemIcon class="!tw-mr-3">dashboard</mat-icon>Dashboard
            </a>
            <a mat-list-item routerLink="/address-form" routerLinkActive="active">
                <mat-icon matListItemIcon class="!tw-mr-3">home</mat-icon>Address Form
            </a>
            <a mat-list-item routerLink="/settings" routerLinkActive="active">
                <mat-icon matListItemIcon class="!tw-mr-3">settings</mat-icon>Settings
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="tw-sticky tw-top-0 tw-z-10 !tw-backdrop-blur-sm !tw-bg-[#795548]/50">
            @if (isNarrowViewport()) {
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                >
                    <mat-icon aria-hidden="true">menu</mat-icon>
                </button>
            }
            <span>Material Schematics Playground</span>
        </mat-toolbar>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
