<h1 class="mat-h1">Dashboard</h1>
<mat-grid-list gutterSize="16" cols="2" rowHeight="350px">
    @for (card of cards(); track card) {
        <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card appearance="outlined" class="w-full h-full" [class.hidden!]="card.hidden">
                <mat-card-header>
                    <mat-card-title>
                        {{ card.title }}
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More actions"
                                class="absolute! top-1 right-2">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item (click)="card.hidden = true">Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    Card Content Here
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    }
</mat-grid-list>
