<p>Based on some pen on CodePen</p>
<section class="h-[10vh]!">(Scroll Down)</section>
@let baseUrl = 'https://assets.codepen.io/721952/';
<section>
    <svg class="h-screen w-full" #hero opacity="0" aria-label="hero image"
         aria-description="Layers of a burger are spread vertically between two hands emerging from darkness"
         viewBox="0 0 1600 2124" xmlns="http://www.w3.org/2000/svg">
        <image [attr.href]="baseUrl + 'burgerHandBase.jpg'" x="0" y="984"/>
        <image [attr.href]="baseUrl + 'burgerHandTop.jpg'" x="612" y="0"/>
        <image [attr.href]="baseUrl + 'burgerBacon.png'" x="586" y="820"/>
        <image [attr.href]="baseUrl + 'burgerOnion.png'" x="546" y="715"/>
        <image [attr.href]="baseUrl + 'burgerBun1.png'" x="637" y="405"/>
        <image [attr.href]="baseUrl + 'burgerLet.png'" x="573" y="1428"/>
        <image [attr.href]="baseUrl + 'burgerBun2.png'" x="581" y="1660"/>
        <image [attr.href]="baseUrl + 'burgerTom.png'" x="531" y="1274"/>
        <image [attr.href]="baseUrl + 'burger.png'" x="594" y="1145"/>
        <image [attr.href]="baseUrl + 'burgerChez.png'" x="557" y="941"/>
        <image [attr.href]="baseUrl + 'burgerCuc.png'" x="547" y="640"/>
        <image [attr.href]="baseUrl + 'burgerShadow.png'" x="500" y="1820" opacity=".65"/>
    </svg>
</section>
<section>(that's it)</section>
