<section class="h-[66vh]">(Scroll Down)</section>
<section>
    <svg class="h-screen w-full" #hero opacity="0" aria-label="hero image" aria-description="Layers of a burger are spread vertically between two hands emerging from darkness" viewBox="0 0 1600 2124" xmlns="http://www.w3.org/2000/svg">
        <image href="https://assets.codepen.io/721952/burgerHandBase.jpg" x="0" y="984"/>
        <image href="https://assets.codepen.io/721952/burgerHandTop.jpg" x="612" y="0"/>
        <image href="https://assets.codepen.io/721952/burgerBacon.png" x="586" y="820"/>
        <image href="https://assets.codepen.io/721952/burgerOnion.png" x="546" y="715"/>
        <image href="https://assets.codepen.io/721952/burgerBun1.png" x="637" y="405"/>
        <image href="https://assets.codepen.io/721952/burgerLet.png" x="573" y="1428"/>
        <image href="https://assets.codepen.io/721952/burgerBun2.png" x="581" y="1660"/>
        <image href="https://assets.codepen.io/721952/burgerTom.png" x="531" y="1274"/>
        <image href="https://assets.codepen.io/721952/burger.png" x="594" y="1145"/>
        <image href="https://assets.codepen.io/721952/burgerChez.png" x="557" y="941"/>
        <image href="https://assets.codepen.io/721952/burgerCuc.png" x="547" y="640"/>
        <image href="https://assets.codepen.io/721952/burgerShadow.png" x="500" y="1820" opacity=".65"/>
    </svg>
</section>
<section>(that's it)</section>
