:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
}

section {
    width: 100%;
    height: 100vh;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}
